# Much of the items listed in this file aren't stuff I use,
# but it's there in case I do use it in the future. Better safe than sorry.

# intellij
.idea/
*.iml
*.ipr
*.iws

# eclipse
/.classpath
/.project
/.settings

## netbeans
/nbproject
/nb-configuration.xml

## maven
/build.xml
/target

## vim
.*.sw[a-p]

## ignore builds and outputs
/out
/build
/bin
/dist
/manifest.mf
# just a folder with compiled plugins
/trustedPlugins

## ignore backups
*~
.*~

## various other potentially unwanted files and directories
# custom configuration files
/config
# data created by the server
/data
# core is not ready for release yet
/core
# just logs in swedish about what I've been working on
/school
