# Much of what is listed in this file isn't stuff I use,
# but it's there in case I decide to use it in the future. Better safe than sorry :)

# intellij
.idea/
*.iml
*.ipr
*.iws

# eclipse
/.classpath
/.project
/.settings

## netbeans
/nbproject
/nb-configuration.xml

## maven
/build.xml
/target

## vim
.*.sw[a-p]

## ignore builds and outputs
/out
/build
/bin
/dist
/manifest.mf
# just a folder with compiled plugins
/trustedPlugins

## ignore backups
*~
.*~

## various other potentially unwanted files and directories
# custom server configuration files
/config
# data created by the server
/data
# just logs about what I've been working on, this should not be included
/school
# don't include libraries, that would be against copyright (I think?)
/lib
